/build/
HighLoadServer/build/
HighLoadServerC/build/

**/Debug/
**/Release/
**/x64/
**/*.tlog
**/*.recipe
**/*.lastbuildstate
**/*.vcxproj.user

**/*.exe
**/*.dll
**/*.pdb
**/*.lib
**/*.obj

**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile

.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
Thumbs.db
